#
#  Copyright (c) 2014 Qualcomm Technologies, Inc. All Rights Reserved.
#  Qualcomm Technologies Confidential and Proprietary.
#
#  8916 MMI config file for mmi itself and all test cases
#

[MMI]
debug_enable=1
sys_backlight=/sys/class/leds/lcd-backlight/brightness
misc_dev=/dev/block/bootdevice/by-name/misc
refresh_interval=50
#test_mode:ui,pcba,sanity.
test_mode=ui


[LED]
level=2
lib_name=mmi_led.so
enable=1
display_name=LED
parameter=color:red;timeout:500;cycle:true;path:/sys/class/leds/button-backlight/brightness;

[KEYBACKLIGHT]
level=2
lib_name=mmi_keybacklight.so
enable=1
display_name=KEYBACKLIGHT
parameter=timeout:500;cycle:true;path:/sys/class/leds/bln/brightness;

[FLASHLIGHT]
level=2
lib_name=mmi_flashlight.so
enable=1
display_name=FLASHLIGHT

[CAMERA]
lib_name=mmi_camera.so
enable=1
display_name=CAMERA_BACK
parameter=device:/dev/video1;

[CAMERA_FRONT]
lib_name=mmi_camera_front.so
enable=1
display_name=CAMERA_FRONT
parameter=device:/dev/video2;

[AUDIO_RINGTONE]
lib_name=mmi_ring.so
enable=1
display_name=AUDIO_RINGTONE
parameter=PCM_RECORD_TC:8;PCM_RECORD_VOL:70;PCM_RECORD_DUR:8;

[AUDIO_LOOPBACK]
lib_name=mmi_audioloop.so
enable=1
display_name=AUDIO_LOOPBACK
parameter=type:0;
[AUDIO_AUXMIC]
lib_name=mmi_audioloop.so
enable=1
display_name=AUDIO_AUXMIC
parameter=type:2;
#[AUDIO_LOOPBACK]
#lib_name=mmi_audio.so
#enable=1
#display_name=AUDIO_LOOPBACK
#parameter=PCM_RECORD_TC:13;PCM_RECORD_VOL:80;PCM_RECORD_DUR:50;
#[AUDIO_AUXMIC]
#lib_name=mmi_audio.so
#enable=1
#display_name=AUDIO_AUXMIC
#parameter=PCM_RECORD_TC:19;PCM_RECORD_VOL:70;PCM_RECORD_DUR:50;

#[AUDIO_SPEAKER_LOOPBACK]
#lib_name=mmi_audio.so
#enable=0
#display_name=AUDIO_SPEAKER_LOOPBACK

#auto MMI test
[AUDIO_MIC_HEADSET_LOOPBACK]
lib_name=mmi_audio.so
enable=1
display_name=AUDIO_MIC_HEADSET_LOOPBACK
parameter=PCM_RECORD_TC:16;PCM_RECORD_VOL:60;PCM_RECORD_DUR:50;

[AUDIO_AUXILIARYMIC1_HEADSET_LOOPBACK]
lib_name=mmi_audio.so
enable=1
display_name=AUDIO_AUXILIARYMIC1_HEADSET_LOOPBACK
parameter=PCM_RECORD_TC:21;PCM_RECORD_VOL:60;PCM_RECORD_DUR:50;

#[AUDIO_AUXILIARYMIC2_HEADSET_LOOPBACK]
#lib_name=mmi_audio.so
#enable=0
#display_name=AUDIO_AUXILIARYMIC1_HEADSET_LOOPBACK
#parameter=PCM_RECORD_TC:1;PCM_RECORD_VOL:60;PCM_RECORD_DUR:50;

[AUDIO_HEADSET_SPEAKER_LOOPBACK]
lib_name=mmi_audio.so
enable=1
display_name=AUDIO_HEADSET_SPEAKER_LOOPBACK
parameter=PCM_RECORD_TC:18;PCM_RECORD_VOL:60;PCM_RECORD_DUR:50;

[AUDIO_HEADSET_RECEIVER_LOOPBACK]
lib_name=mmi_audio.so
enable=1
display_name=AUDIO_HEADSET_RECEIVER_LOOPBACK
parameter=PCM_RECORD_TC:14;PCM_RECORD_VOL:60;PCM_RECORD_DUR:50;

[AUDIO_HEADSET]
lib_name=mmi_audio.so
enable=1
display_name=AUDIO_HEADSET
parameter=PCM_RECORD_TC:15;PCM_RECORD_VOL:70;PCM_RECORD_DUR:50;

[FM]
lib_name=mmi_fm.so
enable=1
display_name=FM
parameter=PCM_PLAY_DURATION:10;PCM_PLAY_VOLUME:55;app_path=/system/bin/mm-audio-ftm;

[KEYS]
lib_name=mmi_touchpanel.so
enable=1
display_name=KEYS
parameter=keys:menu,home,back;

[VIBRATOR]
lib_name=mmi_vibrator.so
enable=1
display_name=VIBRATOR


[CARD]
lib_name=mmi_sdcard.so
enable=0
display_name=CARD
parameter=device:/dev/block/mmcblk1;sim_num:1;app_path:/system/bin/qmi_simple_ril_test;timeout:3000;

[SDCARD]
lib_name=mmi_sdcard.so
enable=1
display_name=SDCARD
parameter=device:/dev/block/mmcblk1;

[SIMCARD]
lib_name=mmi_sim.so
enable=1
display_name=SIMCARD
parameter=sim_num:1;app_path:/system/bin/qmi_simple_ril_test;timeout:3000;

[SENSOR]
lib_name=mmi_sensor.so
enable=1
display_name=SENSOR

[PRODUCT]
lib_name=mmi_product.so
enable=1
display_name=product
parameter=network:gw;
#[AUDIO_RECEIVER]
#lib_name=mmi_receiver.so
#enable=0
#display_name=AUDIO_RECEIVER
#parameter=PCM_RECORD_TC:1;PCM_RECORD_VOL:80;PCM_RECORD_DUR:8;PCM_PLAY_TC:9 ;PCM_PLAY_VOL:60;

#[FINGERPRINT]
#lib_name=mmi_fingerprint.so
#enable=1
#display_name=FINGERPRINT
#parameter=

#[HOOKKEY]
#lib_name=mmi_hookkey.so
#enable=1
#display_name=HOOKKEY
#parameter=
[NFC]
lib_name=mmi_nfc.so
enable=1
display_name=NFC
parameter=fdafda:1;
[HALLSENSOR]
lib_name=mmi_hallsensor.so
enable=1
display_name=HALLSENSOR
parameter=